*{
    margin: 0;
}
body{
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    background-image: linear-gradient(to right, #89f7fe, #66a6ff);
}
.container{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0,.2);
    padding: 50px 30px;
    padding-bottom: 40px;
    border-radius: 10px;
}
h2{
    text-align: center;
    color: #515151;
    margin-bottom: 20px;
}
form{
    margin-bottom: -20px;
}
.row{
    margin: 0 -15px;
    display: flex;
}
 .col-12{
    padding:0 10px;
    padding-bottom: 20px;
    float: left;
}
.col-12{
    width: 100%;
}
.wrong-input{
    border: 1px solid red;
    animation: shake 0.5s;
    animation-iteration-count: 2;
}
.error {
    color: red;
    display: block;
}
input, textarea{
    width: 100%;
    height: 40px;
    background-color: #fbfbfb;
    border: none;
    border-image: linear-gradient(to right, #89f7fe, #66a6ff) 1;
    border-bottom: 1px solid;
    border-radius: 5px 5px 0 0;
    color: #515151;
    
}
textarea{
padding-top: 15px;
height: 150px;
}
input[type=submit]{
    color: #fff;
    font-weight: 700;
    border: none;
    background-image: linear-gradient(to right, #89f7fe, #66a6ff);
}